dialog::backdrop {
  backdrop-filter: blur(2px);
  // background: rgb(255, 255, 255, 0.5);
}

.dark * dialog::backdrop {
  background: transparent;
}

.tiptap {
  padding-top: 5px;
  padding-left: 7px;
  /* min-height: 300px; */

  &:focus-visible {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    margin-bottom: 1rem;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
    text-decoration: none;
  }

  a:hover {
    @apply underline;
  }

  ul {
    @apply list-disc pl-8;

    li>p {
      @apply mb-1;
    }
  }

  ol {
    @apply list-decimal pl-7;

    li>p {
      @apply mb-1;
    }
  }

  blockquote {
    @apply border-l-4 pl-4 italic text-gray-600 my-4;
    border-color: #ccc;
  }

  code {
    font-family: monospace;
  }

  pre {
    @apply bg-gray-800 text-gray-500 p-4 rounded-lg overflow-x-auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  img {
    @apply max-w-full h-auto rounded-lg my-4;
  }

  table {
    @apply table-auto w-full border-collapse mb-4;
  }

  th,
  td {
    @apply border px-4 py-2 text-left;
  }

  th {
    @apply bg-gray-500 font-semibold;
  }

  tr:nth-child(even) {
    @apply bg-gray-400;
  }

  @media (max-width: 768px) {
    h1 {
      @apply text-3xl;
    }

    h2 {
      @apply text-2xl;
    }

    p {
      @apply text-base;
    }

    img {
      @apply max-w-full;
    }
  }
}